<header>
<mat-toolbar color="primary">
    <span>
      <a>AOOOM&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </span>
  <ul>
    <li>
      <a mat-button routerLink="/">Posts List</a>
    </li>
  </ul>

<!--   <span *ngIf="userIsAuthenticated">-->
<!--      AOOOM-->
<!--    </span>-->
<!--  <span class="spacer"></span>-->
<!--  <span>-->
<!--      <a routerLink="/">Posts List</a>-->
<!--    </span>-->

<!--  <span>-->
<!--    <a routerLink="/">AOOOM</a>-->
<!--  </span>-->
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/chat" routerLinkActive="mat-accent">Chat</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Sign Up</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Log Out</button>
    </li>
  </ul>
</mat-toolbar>
</header>
