<header style="text-align: center;
background-image: radial-gradient(circle,rgba(185,213,231,1) 2%,rgba(147,147,147,0) 100%) !important;
box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 11px 0px !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 11px 0px !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 11px 0px !important;
    background-origin: border-box !important;
    border-style: solid !important;
    border-width: 0px !important;">

  <img src="../../assets/images/aooom_logo.png" style="width: 13%;">

  <nav>
    <mat-toolbar color="primary">
        <span>
          <a routerLink="/">AOOOM&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </span>
      <ul>
        <li>
          <a mat-button routerLink="/about" routerLinkActive="mat-accent">About</a>
        </li>
        <li>
          <a mat-button routerLink="/posts" routerLinkActive="mat-accent">Posts List</a>
        </li>
      </ul>
      <span class="spacer"></span>
      <ul>
        <li *ngIf="userIsAuthenticated">
          <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
        </li>
        <li *ngIf="userIsAuthenticated">
          <a mat-button routerLink="map" routerLinkActive="mat-accent">Posts map</a>
        </li>
        <li *ngIf="userIsAuthenticated">
          <a mat-button routerLink="d3groupby" routerLinkActive="mat-accent">Who is the most active user</a>
        </li>
        <li *ngIf="userIsAuthenticated">
          <a mat-button routerLink="d3groupby_2" routerLinkActive="mat-accent">If there are identical titles</a>
        </li>
        <li *ngIf="userIsAuthenticated">
          <a mat-button routerLink="/chat" routerLinkActive="mat-accent">Chat</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
          <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
          <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Sign Up</a>
        </li>
        <li *ngIf="userIsAuthenticated">
          <button mat-button (click)="onLogout()">Log Out</button>
        </li>
      </ul>
    </mat-toolbar>
  </nav>
</header>
