<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="form-group">
  <input type="text" class="form-control" placeholder="Search By Title" [(ngModel)]="searchTermByTitle"/>
  <br>
  <input type="text" class="form-control" placeholder="Search By Content" [(ngModel)]="searchTermByContent"/>
  <br>
  <input type="text" class="form-control" placeholder="Search By Name" [(ngModel)]="searchTermByName"/>
  <br>
  <mat-checkbox (click)="onSortList($event)">view by popularity</mat-checkbox>
</div>
<br>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel style="width: 60%" *ngFor="let post of posts.slice() | PostTitleFilter:searchTermByTitle | postContentFilter:searchTermByContent |  postNameFilter:searchTermByName">
    <mat-expansion-panel-header style="padding: 4px 24px">
      <h2> {{post.title}}</h2>
      <span class="spacer"></span>
      Posted By: {{ post.userName }}
      <br>
      Posted on : {{ post.postDate.toLocaleDateString() | date: 'dd/MM/yyyy'}} at {{post.postDate.toLocaleTimeString()}}
    </mat-expansion-panel-header>
    <mat-panel-description>

    </mat-panel-description>
    <p>{{post.content}}</p>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <mat-action-row>

      <a mat-button color="primary" [routerLink]="['../comments/list/', post.id]">Show Comments</a>

      <a mat-button color="primary" [routerLink]="['../comments/create/', post.id]" *ngIf="userIsAuthenticated">Comment</a>

      <a mat-button color="primary" [routerLink]="['/edit', post.id]" *ngIf="userIsAuthenticated && userId === post.creator">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)" *ngIf="userIsAuthenticated && userId === post.creator">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="posts.length > 0"></mat-paginator>
<p class=" info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>

<p class="form-control">Current post create: {{curentCreateTimes}} &nbsp;&nbsp; ● &nbsp;&nbsp;  Current post delete: {{currentDeleteTimes}}</p>

<a class="form-control" *ngIf="curentCreateTimes>0 && currentDeleteTimes>0"> &nbsp;&nbsp;Created vs deleted:&nbsp;{{(curentCreateTimes/currentDeleteTimes)*100}}% </a>
