
<h1>AOOOM</h1>


<table style="width:100%">
  <tr>
    <th>
      <p class="centerVideo">
        <video width="50%" id="myVideo" controls autoplay [muted]="'muted'">
          <source src="../../assets/video/surfing.mp4" type="video/mp4">
        </video>
      </p>
    </th>
    <th>
      <div style="float: right;font-style: italic;">
        <div id="openweathermap-widget-17"></div>
        <script>
        </script>
      </div>
    </th>
    <th>
      <canvas id="canvas" width="400" height="400" style="background-color:#ffffff">
      </canvas>
    </th>
  </tr>
</table>
<!-- Video -->
<br>
<br>
<!-- Facebook -->
<span class="centerFacebook">
<!--  <canvas id="Like Us" width="200" height="100">-->
        <h1 class="facebook">Like our CPA page on Facebook</h1>
<!--  </canvas>-->
  <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2F%25D7%25A8%25D7%2595%25D7%25A0%25D7%2599-%25D7%25A7%25D7%2595%25D7%25A8%25D7%259F-%25D7%2594%25D7%2597%25D7%2596%25D7%25A8%25D7%2599-%25D7%259E%25D7%25A1-1518832808394594%2F&width=130&layout=button_count&action=like&size=small&share=true&height=46&appId=679847642501812"
          width="130" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
</span>




